body {
  font-family: "Roboto Slab", serif;
}
h1 {
  font-size: 80px;
  border-left: 5px solid;
  border-image: linear-gradient(red, blue);
  border-image-slice: 1;
  padding-left: 17px;
}
.dif-color {
  color: orangered;
}
.buttons {
  text-decoration: none;
  color: white;
  background-color: blueviolet;
  border-radius: 7px;
  padding: 10px 20px 10px 20px;
}
section {
  display: flex;
  margin-bottom: 100px;
}
.widthOfTwoDivSection {
  width: 50%;
  padding-left: 110px;
}
.widthOfTwoDivSection img {
  width: 80%;
}
h2 {
  font-size: 60px;
  text-align: center;
}
.dif-color-2nd-section {
  color: yellowgreen;
}
#mission {
  background-color: lightcyan;
}
#vission {
  background-color: lightgoldenrodyellow;
}
#goals {
  background-color: lightpink;
}
#margin-set {
  margin-top: 50px;
  margin-bottom: 100px;
  margin-left: 110px;
  margin-right: 110px;
}
.widthOfThreeDivSection {
  width: 33.33%;
  border-radius: 20px;
  padding: 50px 30px 50px 30px;
}
.widthOfThreeDivSection img {
  width: 35%;
}
h3 {
  font-size: 50px;
}
.p-pad {
  padding-right: 100px;
}
.section-three-four {
  width: 50%;
}
.section-three-four img {
  width: 70%;
  padding-left: 110px;
}
#special-case {
  padding-left: 110px;
  padding-top: 50px;
}
h4 {
  font-size: 35px;
}
footer {
  font-family: "Lobster", cursive;
  color: white;
  background-color: rgb(8, 1, 1);
  text-align: center;
  padding: 30px 30px;
}
.fot-2022 {
  color: green;
}
.heading-align {
  text-align: center;
  font-family: "Lobster", cursive;
}
.self-idea {
  display: flex;
  background-image: linear-gradient(rgb(238, 118, 118), white);
  border-radius: 20px;
  margin-left: 110px;
  margin-right: 110px;
  padding-top: 50px;
  padding-bottom: 50px;
}
input[type="text"] {
  font-size: 40px;
}
input[type="password"] {
  font-size: 40px;
}
.input {
  padding-left: 80px;
  padding-right: 50px;
}
